package main

import (
	"fmt"

	"github.com/davecgh/go-spew/spew"
	utilities "github.com/mattgen88/adventofcode/2023"
)

func main() {
	PartOne()
	PartTwo()
}

func PartOne() {
	fmt.Println("part 1")
	input := utilities.ReadInput("example.txt")
	spew.Dump(input)
}

func PartTwo() {
	fmt.Println("part 2")
	input := utilities.ReadInput("example.txt")
	spew.Dump(input)
}
